<!DOCTYPE html>
<html lang="en">
<head>
  <meta charset="UTF-8">
  <meta http-equiv="X-UA-Compatible" content="IE=edge">
  <meta name="viewport" content="width=device-width, initial-scale=1">
  <meta name="robots" content="noindex">
  <title>ZMOOZ</title>
  <link rel="icon" href="<%= context.publicPath %>fav32.png" type="image/png">

  <%# <link rel="stylesheet" href="https://use.fontawesome.com/releases/v5.8.2/css/all.css" integrity="sha384-oS3vJWv+0UjzBfQzYUhtDYW+Pj2yciDJxpsK1OYPAYjqT085Qq/1cq5FLXAZQ7Ay" crossorigin="anonymous"> %>

  <%# <script src="https://kit.fontawesome.com/2efc1bda34.js"></script> %>
  <link href="https://fonts.googleapis.com/css?family=Roboto:300,400,500&amp;subset=latin-ext,vietnamese" rel="stylesheet" />

  <link href="<%= context.publicPath %>vendor/font-awesome/css/all.css" rel="stylesheet"> <!--load all styles -->

  <script src="https://gw.alipayobjects.com/os/antv/pkg/_antv.data-set-0.9.6/dist/data-set.min.js"></script>
</head>
<body>
  <div id="root"></div>
</body>
</html>
